<div class="product-card">
    <div *ngIf="product?.discount" class="product-card__badge">
        {{ product.discount }} OFF
    </div>

    <img
            *ngIf="product?.mainImage"
            class="product-card__image"
            [ngSrc]="product.mainImage"
            [alt]="product?.title"
            width="200"
            height="200"
            >
    <h3 class="product-card__name">{{ product?.title }}</h3>

    <div *ngIf="product?.timer" class="product-card__timer">
        {{ product.timer }}
    </div>

    <ng-container *ngIf="product?.price as price">
        <div class="product-card__price">
            <span *ngIf="price.old" class="product-card__price-old">{{ price.old }}</span>
            <span class="product-card__price-new">€{{ price.new }}</span>
        </div>
    </ng-container>
</div>
