<div class="index__left__accordion">
  <div class="index__left__accordion__header">
    <i class="index__left__accordion__header-icon fas fa-th-list "></i>
    <span class="index__left__accordion__header-text">
      Kupuj po kategoriji
    </span>
  </div>

  <ng-container *ngFor="let item of items; let i = index">
    <div class="index__left__accordion__item">
      <ng-container *ngIf="item.link; else withChildren">
        <a
          [routerLink]="item.link"
          class="index__left__accordion__title"
        >
          {{ item.title }}
        </a>
      </ng-container>

      <ng-template #withChildren>
        <div
          class="index__left__accordion__title"
          (click)="toggle(i)"
        >
          {{ item.title }}
          <span class="index__left__accordion__icon">
            {{ item.expanded ? '–' : '+' }}
          </span>
        </div>
        <div
          class="index__left__accordion__content"
          *ngIf="item.expanded"
        >
          <ul class="index__left__accordion__list">
            <li
              class="index__left__accordion__list-item"
              *ngFor="let child of item.children"
            >
              {{ child }}
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>
