# Node modules
node_modules/

# Okviri za Angular / Vite
dist/
.angular/
.cache/
.vite/

# Okviri za IDE i OS
.idea/
.vscode/
*.log
*.swp
.DS_Store

# Environment fajlovi
.env
.env.local

/.angular/
/.idea/
