<div class="promo-card">
    <div class="promo-card__media">
        <div class="promo-card__media__wrapper">
            <img
                    class="promo-card__media__wrapper__image"
                    [src]="'images/sega.jpg'"
                    alt="Promo image"
            />
        </div>
    </div>
    <div class="promo-card__body">
        <h3 class="promo-card__body__heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h3>
        <p class="promo-card__body__text">
            Etiam dolor tortor, facilisis id ante id, blandit convallis quam. Maecenas vehicula efficitur magna eget tempus. Vivamus tempus.
        </p>
        <div class="promo-card__body__actions">
            <button class="promo-card__body__actions__button" type="button">
        <span class="promo-card__body__actions__button__text">
          OPŠIRNIJE
        </span>
            </button>
        </div>
    </div>
</div>
