<div class="product-detail">
    <div class="product-detail__left">
        <ng-container *ngIf="product; else breadcrumbSkeleton">
            <app-open-product-breadcrumb [product]="product"></app-open-product-breadcrumb>
        </ng-container>
        <ng-template #breadcrumbSkeleton>
            <nav class="product-detail__breadcrumb breadcrumb--skeleton">
                <ul class="product-detail__breadcrumb__list">
                    <li class="product-detail__breadcrumb__list-item">
                        <span class="skeleton-text" style="width: 60px; height:1em;"></span>
                    </li>
                    <li class="product-detail__breadcrumb__list-item">
                        <span class="breadcrumb-separator">&gt;</span>
                    </li>
                    <li class="product-detail__breadcrumb__list-item">
                        <span class="skeleton-text" style="width: 80px; height:1em;"></span>
                    </li>
                    <li class="product-detail__breadcrumb__list-item">
                        <span class="breadcrumb-separator">&gt;</span>
                    </li>
                    <li class="product-detail__breadcrumb__list-item">
                        <span class="skeleton-text" style="width:100px; height:1em;"></span>
                    </li>
                </ul>
            </nav>
        </ng-template>

        <div class="product-detail__content">
            <div class="product-detail__content__gallery">
                <ng-container *ngIf="product; else gallerySkeleton">
                    <app-open-product-gallery [images]="product.images"></app-open-product-gallery>
                </ng-container>
                <ng-template #gallerySkeleton>
                    <div class="product-detail__gallery__slider">
                        <div class="product-detail__gallery__slider__track">
                            <div class="product-detail__gallery__slider__track-slide">
                <span
                        class="skeleton-text skeleton--window"
                        style="display: block; width: 100%; height: 400px;"
                ></span>
                            </div>
                        </div>
                        <div class="product-detail__gallery__slider__thumbnails">
                            <ng-container *ngFor="let _ of [0,1,2]">
                                <div class="product-detail__gallery__slider__thumbnails-item">
                  <span
                          class="skeleton-text skeleton--window"
                          style="display: block; width: 80px; height: 80px;"
                  ></span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </div>

            <div class="product-detail__content__info">
                <ng-container *ngIf="product; else infoSkeleton">
                    <app-open-product-info [product]="product"></app-open-product-info>
                </ng-container>
                <ng-template #infoSkeleton>
                    <div class="product-detail__info-skeleton">
                        <div class="product-detail__info-skeleton__skeleton product-detail__info-skeleton__title"></div>
                        <div class="product-detail__info-skeleton__skeleton product-detail__info-skeleton__price"></div>
                        <div class="product-detail__info-skeleton__skeleton product-detail__info-skeleton__sku"></div>
                        <div class="product-detail__info-skeleton__skeleton product-detail__info-skeleton__description"></div>
                        <div class="product-detail__info-skeleton__skeleton product-detail__info-skeleton__cart"></div>
                    </div>
                </ng-template>
            </div>
        </div>
        <app-open-product-additional [product]="product"></app-open-product-additional>
    </div>


    <div class="product-detail__right">
        <app-video-box
                [thumbnail]="'images/3.png'"
                [videoSrc]="'https://www.w3schools.com/html/mov_bbb.mp4'"
        ></app-video-box>
        <app-video-box
                [thumbnail]="'images/3.png'"
                [videoSrc]="'https://www.w3schools.com/html/movie.mp4'"
        ></app-video-box>
        <app-newsletter></app-newsletter>
    </div>
</div>
