<div class="brand-promo"
     [class.brand-promo--visible]="isVisible">
    <div class="brand-promo__commercial">
        <button class="brand-promo__close"
                (click)="onClose()">&times;</button>
        <img  src="https://picsum.photos/400/600"
              alt="Fashion Shoes"
              class="brand-promo__image">
        <div class="brand-promo__text">
            <span class="brand-promo__fashion">Fashion</span>
            <span class="brand-promo__shoes">shoes</span><br>
            <span class="brand-promo__veneno">VENENO</span>
        </div>
    </div>
</div>
