<ng-container *ngIf="images?.length; else gallerySkeleton">
    <div class="product-detail__gallery__slider">
        <div class="product-detail__gallery__slider__track">
            <div
                #trackSlide
                *ngFor="let img of images; let i = index"
                class="product-detail__gallery__slider__track-slide"
            >
                <img
                        [ngSrc]="img"
                        [alt]="'Image ' + i"
                        (click)="select(i)"
                        fill
                />
            </div>
        </div>

        <div class="product-detail__gallery__slider__thumbnails">
            <button
                    class="product-detail__gallery__slider__thumbnails-arrow product-detail__gallery__slider__thumbnails-arrow--prev"
                    aria-label="Previous slide"
                    (click)="prev()"
            >&lt;</button>

            <div
                #thumbItem
                *ngFor="let img of images; let i = index"
                class="product-detail__gallery__slider__thumbnails-item"
                (click)="select(i)"
            >
                <img
                        [src]="img"
                        [alt]="'Thumbnail ' + i"
                        class="product-detail__gallery__slider__thumbnails-item-img"
                />
            </div>

            <button
                    class="product-detail__gallery__slider__thumbnails-arrow product-detail__gallery__slider__thumbnails-arrow--next"
                    aria-label="Next slide"
                    (click)="next()"
            >&gt;</button>
        </div>
    </div>
</ng-container>

<ng-template #gallerySkeleton>
    <div class="product-detail__gallery__slider">
        <div class="product-detail__gallery__slider__track">
            <div class="product-detail__gallery__slider__track-slide">
                <span class="skeleton-text" style="display:block; width:100%; height:400px;"></span>
            </div>
        </div>
        <div class="product-detail__gallery__slider__thumbnails">
            <div *ngFor="let _ of [0,1,2,3]" class="product-detail__gallery__slider__thumbnails-item">
                <span class="skeleton-text" style="display:block; width:80px; height:80px;"></span>
            </div>
        </div>
    </div>
</ng-template>