<div class="index__left__accordion">
    <div class="index__left__accordion__header" (click)="show = !show">
        <i class="index__left__accordion__header-icon fa fa-th-large"></i>
        <span class="index__left__accordion__header-text">
      Kupuj po kategoriji
    </span>
    </div>

    <ng-container
            *ngTemplateOutlet="
      recursiveList;
      context: { items: items, level: 0 }
    "
    ></ng-container>

    <ng-template #recursiveList let-items="items" let-level="level">
        <ng-container *ngFor="let item of items">
            <div class="index__left__accordion__item">
                <ng-container *ngIf="item.link; else expandedCase">
                    <a
                            [routerLink]="item.link"
                            class="index__left__accordion__title"
                            [ngStyle]="{ 'padding-left.px': level * 15 + 20 }"
                    >
                        {{ item.title }}
                    </a>
                </ng-container>

                <ng-template #expandableItem>
                    <div
                            class="index__left__accordion__title"
                            (click)="toggle(item)"
                            [class.index__left__accordion__title--clickable]="item.children?.length"
                            [ngStyle]="{ 'padding-left.px': level * 15 + 30 }"
                    >
                        {{ item.title }}
                        <span *ngIf="item.children?.length" class="index__left__accordion__icon">
              {{ item.expanded ? '–' : '+' }}
            </span>
                    </div>

                    <div
                            class="index__left__accordion__content"
                            *ngIf="item.expanded && item.children?.length"
                    >
                        <ng-container
                                *ngTemplateOutlet="recursiveList; context: { items: item.children, level: level + 1 }"
                        ></ng-container>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </ng-template>
</div>
