<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__top">
      <div class="navbar__top__languages">
        <a routerLink="" class="navbar__top__languages__link">Engleski</a>
        <a routerLink="" class="navbar__top__languages__link">Crnogorski</a>
        <p class="navbar__top__languages__info">
          Svakog dana od 8:00 do 21:00 h, osim nedjeljom | Tel: +382 20 656 772
        </p>
      </div>
      <div class="navbar__top__account">
        <a routerLink="/support" class="navbar__top__account__link">On-line podrška</a>
        <a routerLink="/register" class="navbar__top__account__link">Registracija</a>
        <a routerLink="/login" class="navbar__top__account__link">Prijava</a>
      </div>
    </div>
    <div class="navbar__middle">
      <div class="navbar__middle__logo">
        <p class="navbar__middle__logo__text" id="centrometal-text">
          CENTRO<span class="navbar__middle__logo__highlight">METAL</span>
        </p>
      </div>
      <div class="navbar__middle__search">
        <i class="fa fa-search navbar__middle__search__icon"></i>
        <input
          type="text"
          class="navbar__middle__search__input"
          placeholder="Unesite šifru ili pojam pretraživanja"
        />
      </div>
      <a
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
        class="navbar__middle__social__icon navbar__middle__social__icon--facebook"
      >
        <i class="fab fa-facebook"></i>
      </a>
      <div class="navbar__middle__cart">
        <p class="navbar__middle__cart__text">MOJA KORPA</p>
        <p class="navbar__middle__cart__price">{{ cartTotal | number:'1.2-2' }}€</p>
        <i class="fa fa-shopping-cart"></i>
      </div>
    </div>
    <div class="navbar__bottom">
      <input type="checkbox" id="nav-toggle" class="navbar__bottom__toggle" />
      <label for="nav-toggle" class="navbar__bottom__burger">
        <i class="navbar__bottom__burger__icon fa fa-bars"></i>
      </label>
      <ul class="navbar__bottom__menu">
        <li class="navbar__bottom__menu__item navbar__bottom__menu__item--home">
          <a routerLink="/" class="navbar__bottom__menu__link">
            <i class="navbar__bottom__menu__link__icon fa fa-home"></i>
          </a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/action" class="navbar__bottom__menu__link">Akcija</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/sale" class="navbar__bottom__menu__link">Rasprodaja</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/catalogs" class="navbar__bottom__menu__link">Katalozi</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/news" class="navbar__bottom__menu__link">Novosti</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/about" class="navbar__bottom__menu__link">O nama</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/diy" class="navbar__bottom__menu__link">Uradi sam</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/vip-card" class="navbar__bottom__menu__link">Vip kartica</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/contact" class="navbar__bottom__menu__link">Kontakt</a>
        </li>
        <li class="navbar__bottom__menu__item">
          <a routerLink="/info" class="navbar__bottom__menu__link">Informacije</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
