<ng-container *ngIf="product?.title; else breadcrumbSkeleton">
    <nav class="product-detail__breadcrumb">
        <ul class="product-detail__breadcrumb__list">
            <li class="product-detail__breadcrumb__list-item product-detail__breadcrumb__list-item--home">
                <a
                        class="product-detail__breadcrumb__list-item-link"
                        routerLink="/"
                >
          <span class="product-detail__breadcrumb__list-item-link-text">
            Home &gt;
          </span>
                </a>
            </li>
            <li class="product-detail__breadcrumb__list-item">
                <a
                        class="product-detail__breadcrumb__list-item-link product-detail__breadcrumb__list-item-link--category"
                        [routerLink]="['/category', product.category]"
                >
          <span class="product-detail__breadcrumb__list-item-link-text">
            {{ product.category }} &gt;
          </span>
                </a>
            </li>
            <li class="product-detail__breadcrumb__list-item product-detail__breadcrumb__list-item--current">
        <span class="product-detail__breadcrumb__list-item-link-text">
          {{ product.title }}
        </span>
            </li>
        </ul>
    </nav>
</ng-container>

<ng-template #breadcrumbSkeleton>
    <nav class="product-detail__breadcrumb">
        <ul class="product-detail__breadcrumb__list">
            <li class="product-detail__breadcrumb__list-item">
                <span class="skeleton-text" style="width: 60px;"></span>
            </li>
            <li class="product-detail__breadcrumb__list-item">
                <span class="skeleton-text" style="width: 80px;"></span>
            </li>
            <li class="product-detail__breadcrumb__list-item">
                <span class="skeleton-text" style="width: 100px;"></span>
            </li>
        </ul>
    </nav>
</ng-template>