<div class="product-detail__similar-products">
    <div class="product-detail__similar-products__heading">
    <span class="product-detail__similar-products__heading__text">
      {{ similarConfig.headerText || 'Slični proizvodi' }}
    </span>
    </div>
    <div class="product-detail__similar-products__list">
        <ng-container *ngIf="similarProducts?.length; else skeletonCards">
            <ng-container *ngFor="let p of similarProducts">
                <app-product-card [product]="p"></app-product-card>
            </ng-container>
        </ng-container>
    </div>
    <div
            class="product-detail__similar-products__footer"
            *ngIf="similarConfig.footerButtonText"
    >
        <button
                class="product-detail__similar-products__footer__button"
                [style.border-color]="similarConfig.buttonBorderColor || '#00cccc'"
        >
            {{ similarConfig.footerButtonText }}
        </button>
    </div>
</div>

<ng-template #skeletonCards>
    <div class="product-detail__similar-products">
        <div class="product-detail__similar-products__heading">
      <span class="product-detail__similar-products__heading__text">
        {{ similarConfig.headerText || 'Slični proizvodi' }}
      </span>
        </div>
        <div class="product-detail__similar-products__list">
            <ng-container *ngFor="let _ of [0,1,2,3]">
                <div class="product-detail__similar-products__list__skeleton-card">
          <span
                  class="skeleton--window"
                  style="width: 100%; height: 150px; margin-bottom: 0.5rem;"
          ></span>
                    <span
                            class="skeleton-text skeleton--long"
                            style="width: 80%; height: 1rem; margin-bottom: 0.5rem;"
                    ></span>
                    <span
                            class="skeleton-text skeleton--medium"
                            style="width: 60%; height: 1rem;"
                    ></span>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
