<div class="brand-search">
    <div class="brand-search__header">
        <i class="fa fa-envelope brand-search__icon"></i>
        <span class="brand-search__title">PRETRAGA PO BRENDU</span>
    </div>
    <div class="brand-search__box">
        <input
                type="text"
                [(ngModel)]="query"
                class="brand-search__input"
                placeholder="Unesite naziv brenda"
        />
        <button
                type="button"
                class="brand-search__button"
        >
            <i class="fa fa-search brand-search__button-icon"></i>
        </button>
    </div>
</div>
